* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary: rgb(0, 90, 255);
}

.form {
  margin-top: 3em;
  width: 36em;
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}

.form-row {
  padding: 0.2em;
}

.form-row input {
  width: 20em;
  margin-left: 2em;
}

.btn {
  width: 4em;
  padding: 0.1em;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  margin-top: 0.2em;
  color: white;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 45em) {
  .form {
    width: auto;
    margin: 0 5em 0 5em;
  }

  .form-row input {
    width: auto;
    margin-left: 2em;
  }
}